
body {

	background-color: gray;
}

hr {
	color:white; 
	height:5px; 
}

#intro {
	margin-top: 20px;
	width: 200px;
	display: inline-block;
	margin-left: 40px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#links {
	display: inline-block;
	margin-left: 100px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#picture {
display: inline-block;
	margin-left: 100px;
	font-family: 'Oswald', sans-serif;
	text-align: center;

}